/* Fuentes */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap");

@font-face {
  font-family: "SegoeUI";
  src: url(/assets/fonts/Segoe_UI.woff) format("woff");
}

@font-face {
  font-family: "SegoeUIBold";
  src: url(/assets/fonts/Segoe_UI_Bold.woff) format("woff");
}

/* Variables */
:root {
  --primary-color: #0481cb;
  --fuente-encode: "Encode Sans", sans-serif;
  --fuente-segoeUI: "SegoeUI";
  --fuente-segoeUIBold: "SegoeUIBold";
}

body {
  font-family: var(--fuente-segoeUI);
}

a {
  font-weight: 400;
  color: var(--primary-color);
}

h1 {
  font-family: var(--fuente-segoeUIBold);
}

p {
  font-family: var(--fuente-encode);
  font-size: 14px;
}
/* Navbar */

.navbar {
    height: 130px;
    background-color: #0481cb !important;
}

a.nav-link {
  color: white !important;
}

h3.right-nav-text {
  color: white;
}

.img-logo {
  max-width: 4rem;
}

.right-nav-text {
  font-size: var(--fuente-encode);
  color: var(--primary-color);
}



.item1 {
  font-size: 20px;
  color: white;
}

/* Main Page */

.mainpage {
  width: 90%;
}

.icon-boxes {
  /* margin-top: 20px; */
  padding: 20px;
}

/* Cards */
.icon-box {
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  position: relative;
  overflow: hidden;
  background: #fff;
  /* box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08); */
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  /* transition: all 0.3s ease-in-out; */
  /* transition: 0.3s; */
  border-radius: 8px;
  z-index: 1;
}

.icon-box:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  cursor: pointer;
}

.mis_beneficios {
  padding: 3rem;
  letter-spacing: -0.3px;
  font-size: var(--fuente-segoeUIBold);
}



span.nombre-cuil {
  color: black;
  font-family: var(--fuente-segoeUIBold);
}



.estado-titulo {
  font-family: var(--fuente-segoeUIBold);
  font-size: 15px;

}

.estado-liquidado {
  font-size: var(--fuente-segoeUI);
  font-size: 15px;
}

.check-liquidado {
  color: green;
}

.estado-pendiente {
  font-size: 15px;
}

.iconpendiente {
  color: red;
}

.monto-h2 {
  font-family: var(--fuente-segoeUIBold);
  color: var(--primary-color);
}

.rendicion {
  font-size: 13px;
}

.estado-aliquidar {
  font-size: 15px;
  color: gray;
}



.icon_user {
  font-size: 18px;
  vertical-align: bottom;
}

a.nav-link {
  color: white;
}

.marca {
  font-size: 20px;
    margin: 0;
    font-family: var(--fuente-segoeUIBold) !important;
    color: white;
    margin-left: -9rem;
}

.nombre {
  margin-top: 20px;
  font-family: var(--fuente-segoeUIBold);
  font-size: 20px;
}

.cuil {
  font-size: 18px;
  font-family: var(--fuente-encode);
}

.mis-beneficios {
  display: inline;
}

.nombreBeneficio:hover {
    color:black;
    transition: .3s;
}


.a-detalles {
  color: white;
}

.btn-detail {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: var(--primary-color);
  padding: 10px 20px;
  transition: .3s;
  font-family: var(--fuente-segoeUI);
  text-transform: initial;
}

.badge-success {
  background-color: #0481cb !important;
}

.btn-detail:hover {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background-color: var(--primary-color);
  padding: 10px 30px;
}


.btn-detail, .a-detalles:hover {
  color: white;
}

.tituloBeneficio {
  padding: 3rem 3rem 1rem 3rem;
  font-family: var(--fuente-segoeUIBold);
}


.alert {
  width: 100%;
}

.detalleBeneficio {
  margin: 0;
  font-family: var(--fuente-segoeUIBold);
  padding: 1rem;
}

.icon-size {
  font-size: 10px;
}

.btnverbenef {
  width: 100%;
  margin: auto;
}

.col-lista {
  font-weight: 600px;
  font-family: var(--fuente-segoeUIBold);
}

.ultimopago {
  padding: 1rem 1rem;
}

.col-ultimopago {
  border-radius: 20px;
  width: 100%;
  box-shadow: 0px -1px 26px -16px rgba(0,0,0,0.75);
  background-clip: content-box;
}

.emision {
  font-family: var(--fuente-segoeUIBold);
  color: var(--primary-color);
}

.fechaemision {
  font-size: var(--fuente-segoeUI);

}

.iconcard {
  font-size: 18rem;
}



.titulobeneficiario {
  font-family: var(--fuente-segoeUIBold);
  color: var(--primary-color);
  font-size: 20px;
}

.nombrebeneficiario {
  font-family: var(--fuente-encode);
  font-size: 15px;

}

.montobeneficiario {
  font-family: var(--fuente-segoeUIBold);
  font-size: 40px;
  color: black;
}

.nombrebeneficiario span {
  font-weight: 700;
}

.alert-danger span {
  font-weight: bold;
}


.badge-danger {
  font-family: var(--fuente-segoeUIBold);
    font-size: 15px;
    padding: 15px;
    color: #cb0404 !important;
    border-radius: 10px;
    border: 1px solid #cb0404;
    background-color: white !important;
    -webkit-box-shadow: 0px 0px 0px !important;
}

.page-footer {
  padding: 60px;
}

.teal {
  background-color: #0481cb !important;
}

.footerleft {
  list-style: none;
  margin-left: -30px;
}

.containerfooter {
  padding: 30px;
}

.txt-footer {
  font-family: var(--fuente-segoeUIBold);
}

.alert-warning span {
  font-weight: 600;
}

.pendiente-liq {
    color: gray !important;
    border: .5px solid gray !important;
    font-family: 'SegoeUI';
}